<div class="callback-form {% if module.tint_background == 1 %}light{% endif %}">

	<div class="container">
		<div class="row">
			<div class="text">
				<h2>{{module.heading}}</h2>
				{{module.text}}
			</div>
			<div class="form">
				<h3>{{module.form_heading}}</h3>
				{{module.form_code}}
			</div>
		</div>
	</div>
</div>
