<div class="embed {{module.background}}">
	<div class="container">
		<div class="row">
			<h2>{{module.heading}}</h2>
			{% if module.text %}
				{{module.text}}
			{% endif %}
			<div class="embed-wrapper">
				{{module.embed_code}}
			</div>
		</div>
	</div>
</div>
