<div class="text-block sidebar {{module.background}}">
	<div class="container">
		<div class="row">
			<main>
				{{module.text}}
			</main>
			<aside>
				{{module.sidebar}}
			</aside>
		</div>
	</div>
</div>
