.callout-wrapper {
  @include standard-padding;

  .callout-box {
    display: flex;
    border-radius: var(--radius);
    overflow: hidden;

    @media screen and (max-width: 1023px) {
      display: block;
    }

    &.left {
      .img {
        order: 2;
      }

      .text {
        order: 1;
      }
    }

    .img {
      width: 50%;
      position: relative;

      @media screen and (max-width: 1023px) {
        width: 100%;
        aspect-ratio: 2/1;
      }

      @media screen and (max-width: 639px) {
        aspect-ratio: 3/2;
      }

      img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center;
      }
    }

    .text {
      background: var(--accent-2);
      width: 50%;
      padding: 4.5rem;
      min-height: 30rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      @media screen and (max-width: 1439px) {
        min-height: 27.5rem;
      }

      @media screen and (max-width: 1279px) {
        padding: 4rem;
        min-height: 0;
      }

      @media screen and (max-width: 1023px) {
        width: 100%;
      }

      @media screen and (max-width: 767px) {
        padding: 2.5rem 3.5rem 3.5rem;
      }

      @media screen and (max-width: 500px) {
        padding: 2.5rem 2.5rem 3rem;
      }

      h2 {
        font-size: 2.4rem;
        margin-bottom: 1em;
        font-weight: 400;

        @media screen and (max-width: 1439px) {
          font-size: 2.1rem;
        }
        @media screen and (max-width: 767px) {
          font-size: 2rem;
          margin-bottom: 0.75em;
        }

        @media screen and (max-width: 639px) {
          font-size: 1.8rem;
        }

        @media screen and (max-width: 500px) {
          font-size: 1.6rem;
          width: 75%;
        }
      }

      h3 {
        font-size: 4.8rem;
        margin-bottom: 0.65em;

        @media screen and (max-width: 1439px) {
          font-size: 4rem;
          margin-bottom: 0.75em;
        }

        @media screen and (max-width: 1279px) {
          font-size: 3.6rem;
        }

        @media screen and (max-width: 639px) {
          font-size: 3rem;
        }

        @media screen and (max-width: 500px) {
          font-size: 2.2rem;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }

      a.btn {
        background: var(--bg-dark);
        color: white;

        @media screen and (max-width: 500px) {
          font-size: 1.3rem;
          margin-top: 0.5em;
          padding: 1em 2.5em 1.2em;
        }
      }
    }
  }
}
