.contact-details {
  @include standard-padding;

  &.light {
    .row {
      main {
        .nf-form-layout {
          form {
            .nf-form-content {
              input:not([type="submit"]) {
                background: var(--bg-light);
              }
            }
          }
        }
      }
    }
  }

  &.dark {
    .row {
      aside {
        ul {
          li {
            a.icon {
              background: white;
              color: var(--bg-dark);
            }
          }
        }
      }
    }
  }

  .row {
    display: flex;

    @media screen and (max-width: 1023px) {
      display: block;
    }

    aside {
      flex: 1;

      ul {
        @media screen and (max-width: 1023px) {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          row-gap: 3rem;
          margin: 0 0 4rem;
        }
        @media screen and (max-width: 639px) {
          grid-template-columns: repeat(1, 1fr);
          margin-bottom: 3.5rem;
        }

        li {
          display: flex;
          align-items: center;
          gap: 2rem;
          margin-bottom: 2.5rem;

          @media screen and (max-width: 1023px) {
            margin-bottom: 0;
          }

          @media screen and (max-width: 767px) {
            gap: 1.5rem;
          }

          a.icon {
            font-size: 8rem;
            width: 1em;
            aspect-ratio: 1/1;
            background: var(--bg-dark);
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;

            @media screen and (max-width: 1439px) {
              font-size: 7.5rem;
            }

            @media screen and (max-width: 1279px) {
              font-size: 7rem;
            }

            @media screen and (max-width: 767px) {
              font-size: 6rem;
            }

            @media screen and (max-width: 639px) {
              font-size: 7.2rem;
            }

            @media screen and (max-width: 500px) {
              font-size: 6.4rem;
            }
            svg {
              font-size: 0.4em;
            }
          }

          .text {
            p {
              margin-bottom: 0;
              font-size: 2.2rem;
              font-weight: 500;

              @media screen and (max-width: 1279px) {
                font-size: 2rem;
              }

              @media screen and (max-width: 1023px) {
                font-size: 1.9rem;
              }
            }

            a {
              font-size: 1.6rem;
              text-decoration: underline;

              @media screen and (max-width: 1279px) {
                font-size: 1.5rem;
              }
            }
          }
        }
      }
    }

    main {
      flex: 2;
    }
  }
}
