.search-results {
  padding: 4rem 0;
  form {
    position: relative;
    margin-bottom: 4rem;
    font-size: 1.8rem;
    ::-webkit-search-cancel-button {
      display: none;
    }
    input {
      width: 100%;
      background: var(--bg-light);
      height: 5rem;
      border-radius: 0.5rem;
      font-size: 1.6rem;
      padding-left: 2rem;

      @media screen and (max-width: 1023px) {
        height: 4.5rem;
      }

      &:focus {
        outline: 2px solid var(--text);
      }

      &::placeholder {
        opacity: 0.35;
      }
    }

    button {
      position: absolute;
      right: 2rem;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
    }
  }
}
