.card-wrapper {
  @include standard-padding;
  text-align: center;
  position: relative;

  > img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    opacity: 0.15;
  }

  &.dark {
    .cards {
      .card {
        background: white;
        color: var(--text);
      }
    }
  }

  &.light {
    .cards {
      .card {
        background: white;
      }
    }
  }

  .container {
    position: relative;
    z-index: 2;

    .row {
      > p {
        font-size: 2.2rem;
        width: 75%;
        margin: 0 auto 2.5em;

        @media screen and (max-width: 1599px) {
          margin-bottom: 1.5em;
        }

        @media screen and (max-width: 1439px) {
          font-size: 2rem;
          margin-bottom: 2em;
        }

        @media screen and (max-width: 1023px) {
          width: 100%;
          font-size: 1.8rem;
          margin-bottom: 1.75em;
        }

        @media screen and (max-width: 767px) {
          font-size: 1.6rem;
        }
      }
    }
  }

  h2 {
    margin-bottom: 1em;

    @media screen and (max-width: 500px) {
      margin-bottom: 0.9em;
    }
  }

  .cards {
    display: flex;
    justify-content: center;
    gap: 3rem;
    text-align: left;
    justify-content: center;
    margin-bottom: 4rem;

    @media screen and (max-width: 767px) {
      margin-bottom: 3rem;
    }

    @media screen and (max-width: 639px) {
      margin-bottom: 2rem;
      flex-wrap: wrap;
    }

    &:last-child {
      margin-bottom: 0;
    }

    .card {
      background: var(--bg-light);
      border-radius: var(--radius);
      overflow: hidden;
      flex: 0 1 33.333333333333%;
      @media screen and (max-width: 1023px) {
        display: flex;
        flex: 0 1 50%;
      }

      @media screen and (max-width: 639px) {
        display: block;
        flex: 0 1 100%;
      }

      &:nth-child(even) {
        .card-img {
          order: 2;
        }

        .card-text {
          order: 1;
        }
      }

      .card-img {
        aspect-ratio: 3/2;
        position: relative;

        @media screen and (max-width: 1023px) {
          width: 50%;
        }

        @media screen and (max-width: 639px) {
          width: 100%;
        }

        img {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          object-fit: cover;
          object-position: center;
        }
      }

      .card-text {
        padding: 2.5rem 3rem 3rem;

        @media screen and (max-width: 1023px) {
          width: 50%;
          padding: 3rem 3.5rem 3.5rem;
        }

        @media screen and (max-width: 767px) {
          padding: 2.5rem 3rem 3rem;
        }

        @media screen and (max-width: 639px) {
          width: 100%;
        }

        @media screen and (max-width: 500px) {
          padding: 2rem 2.5rem 2.5rem;
        }

        &.centre {
          text-align: center;
        }

        h3 {
          margin-bottom: 0.5em;
        }

        h4 {
          font-size: 1.8rem;
          font-weight: 600;
          margin-bottom: 1.25em;
          color: var(--bg-dark);
          @media screen and (max-width: 767px) {
            font-size: 1.7rem;
          }

          @media screen and (max-width: 639px) {
            font-size: 1.6rem;
          }
        }

        ul {
          display: block;
          margin-bottom: 1.5em;
          font-size: 1.8rem;
          text-align: left;

          @media screen and (max-width: 767px) {
            font-size: 1.7rem;
          }

          @media screen and (max-width: 639px) {
            font-size: 1.6rem;
            margin-bottom: 1.75em;
          }

          li {
            gap: 1rem;
            position: relative;
            padding-left: 2.75rem;
            line-height: 1.35;
            margin-bottom: 0.6em;
            &::marker {
              content: none;
            }

            a {
              text-decoration: underline;
              color: var(--bg-dark);
            }
            &::before {
              font-size: 0.65em;
              font-family: "fontawesome";
              content: "\f00c";

              width: 1.75rem;
              border-radius: 100%;
              aspect-ratio: 1/1;
              background: var(--bg-dark);
              color: white;
              display: flex;
              align-items: center;
              justify-content: center;
              position: absolute;
              left: 0.1em;
              top: 0.4em;
            }
          }
        }

        > .btn {
          background: var(--bg-dark);

          &:hover {
            background: var(--accent);
          }
        }
      }
    }
  }
}
